:root {
    --color-text-link: rgb(87, 165, 254);
}

html,body, #st-full-pg {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
 }

body {
    display: flex;
    flex-direction: column;
    color: rgb(230, 230, 230);
    background-color: rgb(26, 26, 26);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
	color: var(--color-text-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headline h1 {
    margin: 1rem;
}

.headline .time {
    margin: 1rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #d63031;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.group {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.check-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.4rem;
    padding: 1rem;
    border: 3px solid #00b894;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 10px rgba(0, 0, 0, 1);
}

.check-result.warning {
    border: 3px solid #f15900;
    animation: pulse-warning-border 2s infinite;
}

.check-result.warning .check-icon {
    animation: pulse-warning-color 2s infinite;
}

.check-result.error {
    border: 3px solid #d63031;
    animation: pulse-error-border 2s infinite;
}

.check-result.error .check-icon {
    animation: pulse-error-color 2s infinite;
}

.check-icon {
    color: #00b894;
    font-size: 1.4rem;
}

.check-wrapper {
    
}

.check-type {
    margin: 0 0 0 1rem;
}

.check-message {
    font-size: 0.9rem;
    margin: 0 0 0 1rem;
}

.check-message:nth-child(2) {
    margin-top: 0.5rem;
}

@keyframes pulse-warning-border {
	0% {
        border: 3px solid #f15900;
	}

	50% {
		border: 3px solid #301100;
	}

	100% {
		border: 3px solid #f15900;
	}
}

@keyframes pulse-warning-color {
	0% {
        color: #f15900;
	}

	50% {
        color: #301100;
	}

	100% {
        color: #f15900;
	}
}

@keyframes pulse-error-border {
	0% {
        border: 3px solid #d63031;
	}

	50% {
		border: 3px solid rgb(54, 8, 0);
	}

	100% {
		border: 3px solid #d63031;
	}
}

@keyframes pulse-error-color {
	0% {
        color: #d63031;
	}

	50% {
        color: rgb(54, 8, 0);
	}

	100% {
        color: #d63031;
	}
}